.ro-link{
	position: relative;
	display: inline-block;
	line-height: 1.2em;

	.hover-mask{
		position: relative;
		display: block;
		overflow: hidden;
	}

	._text{
		pointer-events: none;
		position: relative;
		display: inline-block;
		white-space: pre;

		&:before{
			content: attr(fx-txt);
			position: absolute;
			top: 120%;
			color: $accent-text-color;
		}
	}

	&:hover{
		._text{
			@include translate(0, -120%);

			@for $n from 1 through 32 {
				&:nth-child(#{$n}){
					@include trans-ease-delay(.5s, #{($n * 0.003) - 0.003}s);
				}
			}
		}
	}
	
}