// Default style
*, ::before, ::after{
	box-sizing: border-box;
}

body{
	color: $body-text-color;
	background-color: $bg-color;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button, figure, picture{
	margin: 0;
	padding: 0;
}

ul, li{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}