@mixin smoothFont{
	text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}



@mixin trans-ease($timing){
	transition: all $timing cubic-bezier(.3,0,.2,1);
}

@mixin trans-ease-delay($timing, $delay){
	transition: all $timing cubic-bezier(.3,0,.2,1) $delay;
}



@mixin translate($Xmove, $Ymove){
	transform: translate($Xmove, $Ymove);
}

@mixin translate3d($Xmove, $Ymove, $Zmove){
	transform: translate3d($Xmove, $Ymove, $Zmove);
}

@mixin rotate($degs){
	transform: rotate($degs);
}

@mixin scale($X, $Y){
	transform: scale($X, $Y);
}

@mixin translate-rotate($Xmove, $Ymove, $degs){
	transform: translate($Xmove, $Ymove) rotate($degs);
}

@mixin translate-scale($Xmove, $Ymove, $Xscale, $Yscale){
	transform: translate($Xmove, $Ymove) scale($Xscale, $Yscale);
}



@mixin unselectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}



@mixin drawShadow($xMove, $yMove, $blur, $spread, $color){
	box-shadow: $xMove $yMove $blur $spread $color;
}

@mixin innerShadow($xMove, $yMove, $blur, $spread, $color){
	box-shadow: inset $xMove $yMove $blur $spread $color;
}



@mixin blur($density){
	-webkit-filter: blur($density);
	filter: blur($density);
}



@mixin flexIt{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin flexDirection-Vert{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flexJustify{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

@mixin flexJustify-center{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flexJustify-around{
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

@mixin flexJustify-right{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@mixin flexAlign-baseline{
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

@mixin flexAlign-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flexAlign-bottom{
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

@mixin flexAlign-top{
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@mixin flexWrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

@mixin flexNoWrap{
	-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
}

@mixin flexAlignSelf-end{
	-ms-flex-item-align: end;
	align-self: flex-end;
}

@mixin flexGrow($ratio){
	-webkit-box-flex: $ratio;
	-ms-flex-positive: $ratio;
	flex-grow: $ratio;
}



@mixin ani-name($name){
	-webkit-animation-name: $name;
	animation-name: $name;
}

@mixin ani-duration($duration){
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin ani-ease($ease){
	-webkit-animation-timing-function: $ease;
	animation-timing-function: $ease;
}

@mixin ani-fillmode($mode){
	-webkit-animation-fill-mode: $mode;
	animation-fill-mode: $mode;
}

@mixin ani-iteration($count){
	-webkit-animation-iteration-count: $count;
	animation-iteration-count: $count;
}

@mixin ani-delay($delay){
	-webkit-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin ani-state($state){
	-webkit-animation-play-state: $state;
	animation-play-state: $state;
}

@mixin ani-direction($direction){
	-webkit-animation-direction: $direction;
	animation-direction: $direction;
}


