@font-face {
	font-family: "DIN";
	src: url("../fonts/DIN.woff2") format("woff2"), /* chrome、firefox */
		url("../fonts/DIN.woff") format("woff"), /* chrome、firefox */
		url("../fonts/DIN.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Avenir-B";
	src: url("../fonts/Avenir-Book.woff2") format("woff2"), /* chrome、firefox */
		url("../fonts/Avenir-Book.woff") format("woff"), /* chrome、firefox */
		url("../fonts/Avenir-Book.ttf") format("truetype");
	font-display: swap;
}


$main-font: "DIN", Geneva, Calibri, Helvetica, sans-serif;
$secondary-font: "Avenir-B", Segoe UI, Century Gothic, CenturyGothic, AppleGothic, Helvetica Neue, Helvetica, Arial, sans-serif;

*{
	font-family: $main-font;
}


.f1{
	font-family: $main-font;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: lighter;

	@include laptop {
		font-size: 14px
	}
}

.f2{
	font-family: $main-font;
	font-size: 12px;
	line-height: 1.5em;

	@include tablet {
		font-size: 11px;
	}

	@include laptop {
		font-size: 12px;
	}
}

.t1{
	font-family: $secondary-font;
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: .25em;

	@include tablet {
		font-size: 18px;
	}

	@include laptop {
		font-size: 22px;
	}
}

// din
// 	10px
// 	11px

// avenir
// 	16px





