footer#page-footer
	.btl-grid
		.btl-row
			.btl-col-12.btl-offset-xs-1.btl-col-xs-11.btl-offset-sm-0.btl-col-sm-14.btl-col-md-12.contact-data
				.inner-col
					p._title.f1 Contacto

				.inner-col
					ul
						li.f1
							a.ro-link(href="mailto:ernestorizo@hotmail.com" target="_blank" rel="nofollow noopener noreferrer")
								span.hover-mask
									+span-chars("ernestorizo@hotmail.com")
						li.f1
							a.ro-link(href="mailto:megadiseno@yahoo.com.mx" target="_blank" rel="nofollow noopener noreferrer")
								span.hover-mask
									+span-chars("megadiseno@yahoo.com.mx")
				.inner-col
					ul
						li.f1
							a.ro-link(href="tel:+523331226508")
								span.hover-mask
									+span-chars("+52 (33) 31 22 65 08")

						li.f1
							a.ro-link(href="tel:+523331228286")
								span.hover-mask
									+span-chars("+52 (33) 31 22 82 86")


			.btl-col-12.btl-col-xs-11.btl-col-sm-10.btl-col-md-12._rights
				p.f1 Rizo + Olvera / Mega Diseño y Edificación. Todos los derechos reservados 2020.