section#hero-section(data-scroll-section)
	.btl-grid
		.btl-row
			.btl-col
				#hero-slider
					.slides-container
						.slide-wrap.active
							picture
								source(media="(max-width: 575px)" srcset="img/hero-slider/01-Slider-1-m.jpg")
								
								img(src="img/hero-slider/01-Slider-1.jpg", alt="")

						.slide-wrap
							picture
								source(media="(max-width: 575px)" srcset="img/hero-slider/01-Slider-2-m.jpg")
								img(src="img/hero-slider/01-Slider-2.jpg", alt="")

						.slide-wrap
							picture
								source(media="(max-width: 575px)" srcset="img/hero-slider/01-Slider-3-m.jpg")
								img(src="img/hero-slider/01-Slider-3.jpg", alt="")

						.slide-wrap
							picture
								source(media="(max-width: 575px)" srcset="img/hero-slider/01-Slider-4-m.jpg")
								img(src="img/hero-slider/01-Slider-4.jpg", alt="")

		.btl-row.site-intro
			.btl-col-12.btl-offset-xs-1.btl-col-xs-9.btl-offset-sm-2.btl-col-sm-9
				.left-wrap
					h1._title.f2 Contacto
				
				.right-wrap
					ul.emails
						li.f1
							a.ro-link(href="mailto:ernestorizo@hotmail.com" target="_blank" rel="nofollow noopener noreferrer")
								span.hover-mask
									+span-chars("ernestorizo@hotmail.com")

						li.f1
							a.ro-link(href="mailto:megadiseno@yahoo.com.mx" target="_blank" rel="nofollow noopener noreferrer")
								span.hover-mask
									+span-chars("megadiseno@yahoo.com.mx")

					ul.tels
						li.f1
							a.ro-link(href="tel:+523331226508")
								span.hover-mask
									+span-chars("+52 (33) 31 22 65 08")

						li.f1
							a.ro-link(href="tel:+523331228286")
								span.hover-mask
									+span-chars("+52 (33) 31 22 82 86")

					p.f1 Guadalajara, Jalisco


			.btl-col-12.btl-offset-xs-2.btl-col-xs-11.btl-offset-sm-1.description
				p.f1 Dedicados a la realización de estudios, proyectos y obras del ramo de la arquitectura, diseño interior, obra civil, equipamiento y urbanización. Integrando colaboradores en ramos como el diseño industrial y el gráfico para atender las diferentes disciplinas y servicios conexos.
				
				p.f1 La firma se encabeza por el Arq. Ernesto Rizo y la Arq. Amparo G. Olvera, que se han preocupado por desarrollar proyectos y obra habitacional, comercia, turistica e industrial siempre teniedo en mente la creación de espacios, que viven y comparten con las necesidades de los usuarios.






