section#hero-section
	.btl-grid
		.btl-row
			.btl-col
				#hero-slider
					.slides-container
						.slide-wrap.active
							picture
								source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/1360x758")
								
								img(src="http://www.fillmurray.com/900/500", alt="")

						.slide-wrap
							picture
								source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/1360x758")
								img(src="http://www.fillmurray.com/900/500", alt="")

						.slide-wrap
							picture
								source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/1360x758")
								img(src="http://www.fillmurray.com/900/500", alt="")

						.slide-wrap
							picture
								source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/1360x758")
								img(src="http://www.fillmurray.com/900/500", alt="")

		.btl-row.site-intro
			.btl-col-10.btl-offset-xs-1.btl-col-xs-9
				.left-wrap
					h1._title.f2 Contacto
				
				.right-wrap
					ul.emails
						li.f1
							a(href="mailto:ernestorizo@hotmail.com") ernestorizo@hotmail.com
						li.f1
							a(href="mailto:megadiseno@yahoo.com.mx") megadiseno@yahoo.com.mx

					ul.tels
						li.f1
							a(href="tel:+523331226508") +52 (33) 31 22 65 08
						li.f1
							a(href="tel:+523331228286") +52 (33) 31 22 82 86

					p.f1 Guadalajara, Jalisco


			.btl-offset-2.btl-col-12.description
				p.f1 Dedicados a la realización de estudios, proyectos y obras del ramo de la arquitectura, diseño interior, obra civil, equipamiento y urbanización. Integrando colaboradores en ramos como el diseño industrial y el gráfico para atender las diferentes disciplinas y servicios conexos.
				
				p.f1 La firma se encabeza por el Arq. Ernesto Rizo y la Arq. Amparo G. Olvera, que se han preocupado por desarrollar proyectos y obra habitacional, comercia, turistica e industrial siempre teniedo en mente la creación de espacios, que viven y comparten con las necesidades de los usuarios.






