mixin vert-photo(project, styling, imgSrc)
	div(class="img-container #{styling}")
		.wrap
			picture
				//- source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/668x1000")
				img(src="http://www.fillmurray.com/500/800", alt="")

			._overlay
				p.t1 #{project}


mixin hor-photo(project, styling, imgSrc)
	div(class="img-container #{styling}")
		.wrap
			picture
				//- source(media="(min-width: 1200px)" srcset="https://via.placeholder.com/1200x840")
				img(src="http://www.fillmurray.com/900/630", alt="")

			._overlay
				p.t1 #{project}
		


section#projects-section
	.btl-grid
		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-1.btl-col-sm-11
				+vert-photo("Torre Moru", "moru-1")

			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-12
				+hor-photo("Casa Abadía", "abadia-1")


		.btl-row.second-line.fill-height
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+hor-photo("Mueblería Avanti")

			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+hor-photo("Casa Velasco")

		
		.btl-row.third-line.fill-height
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+hor-photo("Avanti GDL", "avanti-gdl")
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+hor-photo("Casa VR")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+hor-photo("Torre Moru")
				+hor-photo("Edificio M. Barragán")
				+hor-photo("Casa San Carlos")
			
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+vert-photo("Torre Moru")
				+vert-photo("Casa San Carlos")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-9
				+hor-photo("Casa Tapalpa")

		
		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-16
				+hor-photo("Plaza Comercial Saltillo")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-9
				+hor-photo("Canchas Vera - Cruz")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-3.btl-col-sm-13
				+hor-photo("Salón de Eventos Boca de Arena")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-8
				+hor-photo("Salón de Eventos BDA")
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-8
				+hor-photo("Salón de Eventos BDA")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-16
				+hor-photo("Salón de Eventos BDA")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-6
				+vert-photo("Casa Rancho")
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+hor-photo("Casa Rancho")
				+hor-photo("Casa Rancho")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-16
				+hor-photo("Casa Chapala")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-7.btl-col-sm-9
				+hor-photo("Casa Villa de Santiago")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+hor-photo("Casa Villa de Santiago")




