include ./projects-helpers.jade


section#projects-section(data-scroll-section)
	.btl-grid
		.btl-row
			.btl-offset-2.btl-col-10
				.img-container.moru-1(data-scroll)
					.wrap(inview="right")
						+project("Torre Moru",
							{
								default: "02-torre-moru",
								mobile: "02-torre-moru-m"
							})

			.btl-col-12
				.img-container.abadia-1(data-scroll)
					.wrap(inview="up" delay="1")
						+project("Casa Abadía",
							{
								default: "03-casa-abadia",
								mobile: "03-casa-abadia-m"
							})


		.btl-row.second-line.fill-height
			.btl-col-14
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Mueblería Avanti",
					{
						default: "04-muebleria-avanti",
						mobile: "04-muebleria-avanti-m"
					})

			.btl-col-10
				.img-container.velasco(data-scroll)
					.wrap(inview="left" delay="1")
						+project("Casa Velasco",
					{
						default: "05-casa-velasco",
						mobile: "05-casa-velasco-m"
					})

		
		.btl-row.third-line.fill-height
			.btl-col-14
				.img-container.avanti-gdl(data-scroll)
					.wrap(inview="right" delay="1")
						+project("Avanti GDL",
					{
						default: "06-avanti-gdl",
						mobile: "06-avanti-gdl-m"
					})

			.btl-col-10
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa VR",
					{
						default: "07-casa-vr",
						mobile: "07-casa-vr-m"
					})


		.btl-row.stretch-row
			.btl-col-14
				.img-container.moru-2(data-scroll)
					.wrap(inview="up")
						+project("Torre Moru",
					{
						default: "08-torre-moru",
						mobile: "08-torre-moru-m"
					})

				.img-container.barragan-1(data-scroll)
					.wrap(inview="left")
						+project("Edificio M. Barragán",
					{
						default: "09-barragan",
						mobile: "09-barragan-m"
					})

				.img-container.carlos-1(data-scroll)
					.wrap(inview="right")
						+project("Casa San Carlos",
					{
						default: "10-san-carlos",
						mobile: "10-san-carlos-m"
					})
			
			.vert-wrap.btl-col-10
				.img-container.moru-3(data-scroll)
					.wrap(inview="left" delay="1")
						+project("Torre Moru", 
					{
						default: "11-torre-moru",
						mobile: "11-torre-moru-m"
					})

				.img-container.carlos-2(data-scroll)
					.wrap(inview="up")
						+project("Casa San Carlos", 
					{
						default: "12-san-carlos",
						mobile: "12-san-carlos-m"
					})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Jardín Abadía",
					{
						default: "13-jardin-abadia",
						mobile: "13-jardin-abadia-m"
					})


		.btl-row
			.btl-offset-10.btl-col-14
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Casa Tapalpa",
					{
						default: "13-casa-tapalpa",
						mobile: "13-casa-tapalpa-m"
					})

		
		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Plaza Comercial Saltillo",
					{
						default: "14-plaza-comercial-saltillo",
						mobile: "14-plaza-comercial-saltillo-m"
					})


		.btl-row
			.btl-col-14
				.img-container.vera(data-scroll)
					.wrap(inview="left")
						+project("Canchas Vera - Cruz",
					{
						default: "15-canchas-vera-cruz",
						mobile: "15-canchas-vera-cruz-m"
					})


		.btl-row
			.btl-offset-4.btl-col-20
				.img-container.boca-de-arena(data-scroll)
					.wrap(inview="up")
						+project("Salón de Eventos Boca de Arena",
					{
						default: "16-salon-boca-de-arena",
						mobile: "16-salon-boca-de-arena-m"
					})


		.btl-row
			.btl-col-12
				.img-container.bda(data-scroll)
					.wrap(inview="right")
						+project("Salón de Eventos BDA",
					{
						default: "17-salon-bda",
						mobile: "17-salon-bda-m"
					})
			.btl-col-12
				.img-container.bda(data-scroll)
					.wrap(inview="up" delay="1")
						+project("Salón de Eventos BDA",
					{
						default: "18-salon-bda",
						mobile: "18-salon-bda-m"
					})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Salón de Eventos BDA",
					{
						default: "19-salon-bda",
						mobile: "19-salon-bda-m"
					})


		.btl-row
			.btl-offset-4.btl-col-20
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Cava Boca de Arena",
					{
						default: "hero-slider/01-Slider-7",
						mobile: "hero-slider/01-Slider-7-m"
					})


		.btl-row
			.btl-offset-4.btl-col-12
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa Cordillera",
					{
						default: "hero-slider/01-Slider-1",
						mobile: "hero-slider/01-Slider-1-m"
					})


		.btl-row
			.btl-col-16
				.img-container(data-scroll)
					.wrap(inview="left")
						+project("Casa San Acasio",
					{
						default: "21-casa-san-acasio",
						mobile: "21-casa-san-acasio-m"
					})

		.btl-row
			.btl-offset-8.btl-col-16
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Casa San Acasio",
					{
						default: "22-casa-san-acasio",
						mobile: "22-casa-san-acasio-m"
					})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa Chapala",
					{
						default: "23-casa-chapala",
						mobile: "23-casa-chapala-m"
					})


		.btl-row
			.btl-offset-9.btl-col-15
				.img-container.santiago(data-scroll)
					.wrap(inview="right")
						+project("Casa Villa de Santiago",
					{
						default: "24-casa-villa-santiago",
						mobile: "24-casa-villa-santiago-m"
					})


		.btl-row
			.btl-col-15
				.img-container.santiago(data-scroll)
					.wrap(inview="left")
						+project("Casa Villa de Santiago",
					{
						default: "25-casa-villa-santiago",
						mobile: "25-casa-villa-santiago-m"
					})




