include ./projects-helpers.jade


section#projects-section
	.btl-grid
		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-2.btl-col-sm-10
				//- +vert-photo("Torre Moru", "moru-1")
				+project("Torre Moru",
					"img/02-torre-moru.jpg",
					"moru-1")

			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-12
				//- +hor-photo("Casa Abadía", "abadia-1")
				+project("Casa Abadía",
					"img/03-casa-abadia.jpg",
					"abadia-1")


		.btl-row.second-line.fill-height
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+project("Mueblería Avanti",
					"img/04-muebleria-avanti.jpg")

			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+project("Casa Velasco",
					"img/05-casa-velasco.jpg")

		
		.btl-row.third-line.fill-height
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+project("Avanti GDL",
					"img/06-avanti-gdl.jpg",
					"avanti-gdl")
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+project("Casa VR",
					"img/07-casa-vr.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+project("Torre Moru",
					"http://www.fillmurray.com/900/630",
					 "moru-2")
				+project("Edificio M. Barragán",
					"http://www.fillmurray.com/900/630",
					"barragan-1")
				+project("Casa San Carlos",
					"http://www.fillmurray.com/900/630",
					"carlos-1")
			
			.vert-wrap.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-10
				+project("Torre Moru", 
					"http://www.fillmurray.com/500/800",
					"moru-3")
				+project("Casa San Carlos", 
					"http://www.fillmurray.com/500/800",
					"carlos-2")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+project("Casa Tapalpa",
					"http://www.fillmurray.com/900/630")

		
		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-24
				+project("Plaza Comercial Saltillo",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-14
				+project("Canchas Vera - Cruz",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-4.btl-col-sm-20
				+project("Salón de Eventos Boca de Arena",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-12
				+project("Salón de Eventos BDA",
					"http://www.fillmurray.com/900/630")
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-12
				+project("Salón de Eventos BDA",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-24
				+project("Salón de Eventos BDA",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-8._flex
				+project("Casa Rancho",
					"http://www.fillmurray.com/500/800",
					"_bottom")

			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-16
				+project("Casa Rancho",
					"http://www.fillmurray.com/900/630")
				+project("Casa Rancho",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-24
				+project("Casa Chapala",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-9.btl-col-sm-15
				+project("Casa Villa de Santiago",
					"http://www.fillmurray.com/900/630")


		.btl-row
			.btl-col-24.btl-offset-xs-3.btl-col-xs-18.btl-offset-sm-0.btl-col-sm-15
				+project("Casa Villa de Santiago",
					"http://www.fillmurray.com/900/630")




