include ./projects-helpers.jade


section#projects-section(data-scroll-section)
	.btl-grid
		.btl-row
			.btl-offset-2.btl-col-10
				.img-container.moru-1(data-scroll)
					.wrap(inview="right")
						+project("Torre Moru",
							{default: "img/02-torre-moru"})

			.btl-col-12
				.img-container.abadia-1(data-scroll)
					.wrap(inview="up" delay="1")
						+project("Casa Abadía",
							{default: "img/03-casa-abadia"})


		.btl-row.second-line.fill-height
			.btl-col-14
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Mueblería Avanti",
					{default: "img/04-muebleria-avanti"})

			.btl-col-10
				.img-container.velasco(data-scroll)
					.wrap(inview="left" delay="1")
						+project("Casa Velasco",
					{default: "img/05-casa-velasco"})

		
		.btl-row.third-line.fill-height
			.btl-col-14
				.img-container.avanti-gdl(data-scroll)
					.wrap(inview="right" delay="1")
						+project("Avanti GDL",
					{default: "img/06-avanti-gdl"})

			.btl-col-10
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa VR",
					{default: "img/07-casa-vr"})


		.btl-row.stretch-row
			.btl-col-14
				.img-container.moru-2(data-scroll)
					.wrap(inview="up")
						+project("Torre Moru",
					{default: "img/08-torre-moru"})

				.img-container.barragan-1(data-scroll)
					.wrap(inview="left")
						+project("Edificio M. Barragán",
					{default: "img/09-barragan"})

				.img-container.carlos-1(data-scroll)
					.wrap(inview="right")
						+project("Casa San Carlos",
					{default: "img/10-san-carlos"})
			
			.vert-wrap.btl-col-10
				.img-container.moru-3(data-scroll)
					.wrap(inview="left" delay="1")
						+project("Torre Moru", 
					{default: "img/11-torre-moru"})

				.img-container.carlos-2(data-scroll)
					.wrap(inview="up")
						+project("Casa San Carlos", 
					{default: "img/12-san-carlos"})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Jardín Abadía",
					{
						default: "img/13-jardin-abadia"
					})


		.btl-row
			.btl-offset-10.btl-col-14
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Casa Tapalpa",
					{default: "img/13-casa-tapalpa"})

		
		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Plaza Comercial Saltillo",
					{
						default: "img/14-plaza-comercial-saltillo",
						mobile: "img/14-plaza-comercial-saltillo-m"
					})


		.btl-row
			.btl-col-14
				.img-container.vera(data-scroll)
					.wrap(inview="left")
						+project("Canchas Vera - Cruz",
					{default: "img/15-canchas-vera-cruz"})


		.btl-row
			.btl-offset-4.btl-col-20
				.img-container.boca-de-arena(data-scroll)
					.wrap(inview="up")
						+project("Salón de Eventos Boca de Arena",
					{default: "img/16-salon-boca-de-arena"})


		.btl-row
			.btl-col-12
				.img-container.bda(data-scroll)
					.wrap(inview="right")
						+project("Salón de Eventos BDA",
					{default: "img/17-salon-bda"})
			.btl-col-12
				.img-container.bda(data-scroll)
					.wrap(inview="up" delay="1")
						+project("Salón de Eventos BDA",
					{default: "img/18-salon-bda"})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Salón de Eventos BDA",
					{
						default: "img/19-salon-bda",
						mobile: "img/19-salon-bda-m"
					})


		.btl-row
			.btl-offset-4.btl-col-20
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Cava Boca de Arena",
					{
						default: "img/hero-slider/01-Slider-7",
						mobile: "img/hero-slider/01-Slider-7-m"
					})


		.btl-row
			.btl-offset-4.btl-col-12
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa Cordillera",
					{
						default: "img/hero-slider/01-Slider-1",
						mobile: "img/hero-slider/01-Slider-1-m"
					})


		.btl-row
			.btl-col-16
				.img-container(data-scroll)
					.wrap(inview="left")
						+project("Casa San Acasio",
					{default: "img/21-casa-san-acasio"})

		.btl-row
			.btl-offset-8.btl-col-16
				.img-container(data-scroll)
					.wrap(inview="right")
						+project("Casa San Acasio",
					{default: "img/22-casa-san-acasio"})


		.btl-row
			.btl-col-24
				.img-container(data-scroll)
					.wrap(inview="up")
						+project("Casa Chapala",
					{
						default: "img/23-casa-chapala",
						mobile: "img/23-casa-chapala-m"
					})


		.btl-row
			.btl-offset-9.btl-col-15
				.img-container.santiago(data-scroll)
					.wrap(inview="right")
						+project("Casa Villa de Santiago",
					{default: "img/24-casa-villa-santiago"})


		.btl-row
			.btl-col-15
				.img-container.santiago(data-scroll)
					.wrap(inview="left")
						+project("Casa Villa de Santiago",
					{default: "img/25-casa-villa-santiago"})




