include ./projects-helpers.jade


section#projects-section
	.btl-grid
		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-2.btl-col-sm-10
				//- +vert-photo("Torre Moru", "moru-1")
				+project("Torre Moru",
					"img/02-torre-moru.jpg",
					"moru-1")

			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-12
				//- +hor-photo("Casa Abadía", "abadia-1")
				+project("Casa Abadía",
					"img/03-casa-abadia.jpg",
					"abadia-1")


		.btl-row.second-line.fill-height
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-14
				+project("Mueblería Avanti",
					"img/04-muebleria-avanti.jpg")

			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-10
				+project("Casa Velasco",
					"img/05-casa-velasco.jpg")

		
		.btl-row.third-line.fill-height
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-14
				+project("Avanti GDL",
					"img/06-avanti-gdl.jpg",
					"avanti-gdl")
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-10
				+project("Casa VR",
					"img/07-casa-vr.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-14
				+project("Torre Moru",
					"img/08-torre-moru.jpg",
					 "moru-2")
				+project("Edificio M. Barragán",
					"img/09-barragan.jpg",
					"barragan-1")
				+project("Casa San Carlos",
					"img/10-san-carlos.jpg",
					"carlos-1")
			
			.vert-wrap.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-10
				+project("Torre Moru", 
					"img/11-torre-moru.jpg",
					"moru-3")
				+project("Casa San Carlos", 
					"img/12-san-carlos.jpg",
					"carlos-2")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-14
				+project("Casa Tapalpa",
					"img/13-casa-tapalpa.jpg")

		
		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-24
				+project("Plaza Comercial Saltillo",
					"img/14-plaza-comercial-saltillo.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-14
				+project("Canchas Vera - Cruz",
					"img/15-canchas-vera-cruz.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-4.btl-col-sm-20
				+project("Salón de Eventos Boca de Arena",
					"img/16-salon-boca-de-arena.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-12
				+project("Salón de Eventos BDA",
					"img/17-salon-bda.jpg")
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-12
				+project("Salón de Eventos BDA",
					"img/18-salon-bda.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-24
				+project("Salón de Eventos BDA",
					"img/19-salon-bda.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-8._flex
				+project("Casa Rancho",
					"img/20-casa-rancho.jpg",
					"_bottom")

			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-16
				+project("Casa Rancho",
					"img/21-casa-rancho.jpg")
				+project("Casa Rancho",
					"img/22-casa-rancho.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-24
				+project("Casa Chapala",
					"img/23-casa-chapala.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-9.btl-col-sm-15
				+project("Casa Villa de Santiago",
					"img/24-casa-villa-santiago.jpg")


		.btl-row
			.btl-col-24.btl-offset-xs-4.btl-col-xs-16.btl-offset-sm-0.btl-col-sm-15
				+project("Casa Villa de Santiago",
					"img/25-casa-villa-santiago.jpg")




