#page-footer{
	position: relative;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 60px;

	@include small-desktop {
		padding-top: 40px;
		padding-bottom: 100px;
	}

	.contact-data{
		.inner-col{
			@include tablet {
				display: inline-block;
				vertical-align: top;

				& + .inner-col{
					margin-left: 2.5em;
				}
			}

			@include desktop {
				& + .inner-col{
					margin-left: 4em;
				}
			}
		}

		._title{
			text-transform: uppercase;
			margin-bottom: 1em;
			@include tablet {margin-bottom: 0;}
		}

		ul{
			margin-bottom: 1em;
			@include tablet {margin-bottom: 0;}
		}

	}

	._rights{
		margin-top: 80px;
		@include large-mobile {
			margin-top: 0px;
			text-align: right;
		}
	}

	// Inview animations
	[data-scroll]{
		opacity: 0;
		@include translate(0, 10px);

		&.is-inview{
			@include trans-ease(.7s);
			opacity: 1;
			@include translate(0, 0);

			&[delay="1"]{@include trans-ease-delay(.7s, .1s);}
			&[delay="2"]{@include trans-ease-delay(.7s, .2s);}
			&[delay="3"]{@include trans-ease-delay(.7s, .3s);}
			&[delay="4"]{@include trans-ease-delay(.7s, .4s);}
			&[delay="5"]{@include trans-ease-delay(.7s, .5s);}
		}
	}
}