#page-header{
	padding-top: 150px;
	padding-bottom: 20px;

	.btl-grid{
		@include flexIt;
		@include flexJustify;
		@include flexAlign-bottom;
	}

	.logo-wrap{
		width: 230px;
		margin-left: 50px;

		a{display: block;}

		img{width: 100%;}
	}

	.iso-wrap{
		width: 34px;
		margin-right: 38px;

		a{display: block;}

		svg{width: 100%;}
	}
}
