#page-header{
	padding-top: 80px;
	padding-bottom: 10px;

	@include small-laptop {
		padding-top: 100px;
		padding-bottom: 16px;
	}

	@include laptop {
		padding-top: 150px;
		padding-bottom: 20px;
	}

	.btl-grid{
		@include flexIt;
		@include flexJustify;
		@include flexAlign-bottom;
	}

	.logo-wrap{
		width: 200px;

		@include large-mobile {
			margin-left: 50px;
		} 

		@include tablet {
			width: 230px;
		}

		@include laptop {width: 260px;}

		@include desktop {width: 300px;}

		a{display: block;}

		img{width: 100%;}
	}

	.iso-wrap{
		width: 30px;

		@include large-mobile {
			margin-right: 38px;
		} 

		@include tablet {
			width: 34px;
		}

		@include laptop {width: 38px;}

		@include desktop {width: 42px;}

		a{
			display: block;

			&:hover{
				svg path{
					@include transitions-ease(.4s);
					fill: $body-text-color;
				}
			}
		}

		svg{
			width: 100%;

			path{
				@include transitions-ease(.2s);
			}
		}
	}
}
