#hero-section{
	.site-intro{
		padding-top: 28px;
		padding-bottom: 28px;

		@include tablet {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.left-wrap{
			margin-right: 3em;
			text-transform: uppercase;

			@include large-mobile {
				display: inline-block;
				vertical-align: top;
			}

			@include laptop {margin-right: 5em;}

			._title{
				margin-bottom: 1em;
				font-weight: 300;

				@include large-mobile {margin-bottom: 0;}
			}
		}
		
		.right-wrap{
			@include large-mobile {
				display: inline-block;
			}

			ul{
				margin-bottom: 1em;
			}
		}

		.description{
			p{
				padding-right: 12px;
				@include tablet {padding-right: 38px;}

				& + p{
					margin-top: 1.5em;
				}
			}
		}
	}
}


#hero-slider{
	position: relative;
	width: 100%;

	.slides-container{}

	.slide-wrap{
		img{width: 100%;}
	}
}