#hero-section{
	.site-intro{
		padding-top: 28px;
		padding-bottom: 28px;

		@include tablet {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.left-wrap{
			margin-right: 3em;
			text-transform: uppercase;

			@include large-mobile {
				display: inline-block;
				vertical-align: top;
			}

			@include laptop {margin-right: 5em;}

			._title{
				margin-bottom: 1em;
				font-weight: 300;

				@include large-mobile {
					margin-top: .1em;
				}

				@include tablet {margin-bottom: 0;}

				@include laptop {margin-top: .25em;}
			}
		}
		
		.right-wrap{
			@include large-mobile {
				display: inline-block;
			}

			ul{
				margin-bottom: 1em;
			}
		}

		.description{
			p{
				padding-right: 12px;

				// @include tablet {padding-right: 38px;}

				// @include laptop {padding-right: 60px;}
				
				// @include desktop {padding-right: 120px;}

				& + p{
					margin-top: 1.5em;
				}
			}
		}
	}
}


#hero-slider{
	position: relative;
	width: 100%;

	.slides-container{
		position: relative;
		width: 100%;
		padding-bottom: 55.55%;
		overflow: hidden;
	}

	.slide-wrap{
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		opacity: 0;
		@include scale(1.05, 1.05);
		transform-origin: center center;
		@include trans-ease(1s);

		img{
			width: 100%;
			vertical-align: top;
		}

		&.active{
			opacity: 1;
			transform-origin: top center;
			@include scale(1,1);
		}
	}
}