#projects-section{
	.btl-row + .btl-row, .img-container + .img-container{
		margin-top: 16px;

		@include small-desktop {margin-top: 20px;}
	}

	// Images position
	@include tablet {
		._flex{@include flexIt;}

		._bottom{@include flexAlignSelf-end;}
	}

	.img-container{
		position: relative;
		width: 100%;
		// margin-bottom: 16px;
		
		.wrap{
			position: relative;
			width: 100%;
			overflow: hidden;
			background-color: red;

			img{
				width: 100%;
				vertical-align: top;
			}

			._overlay{
				position: absolute;
				top: 0; left: 0;
				width: 100%;
				height: 100%;
				background-color: $black-overlay;
				color: $bg-color;
				@include flexIt;
				@include flexJustify-center;
				@include flexAlign-center;
				@include trans-ease(.4s);
				opacity: 0;

				p{
					@include smoothFont;
					text-transform: uppercase;
					text-align: center;
					padding: 0 16px;
				}

				.mask{
					._text{
						@include translate(0, 100%);
						@include trans-ease-delay(0s, .4s);
					}
				}

				&:hover, &.hovered{
					@include trans-ease(.6s);
					opacity: 1;

					.mask{
						._text{
							@include translate(0, 0);
						}

						@for $i from 1 through 32 {
							&:nth-child(#{$i}) ._text {
								@include trans-ease-delay(.7s, #{($i * 0.01) - 0.01}s);
							}
						}
					}
				}
			}
		}
		
		// Images proportion
		@include tablet {
			// Row
			&.moru-1{
				.wrap{
					height: 0;
					padding-bottom: 150.1%;
				}
			}

			&.abadia-1{
				.wrap{
					height: 0;
					padding-bottom: 69%;
				}
			}
			

			// Row
			&.avanti-gdl{
				padding-left: 32%;
			}


			// Row
			&.moru-2{
				.wrap {
					height: 0;
					padding-bottom: 58.7%;
				}
			}

			&.barragan-1{
				padding-right: 25.5%;
				
				.wrap {
					height: 0;
					padding-bottom: 87.5%;
				}
			}

			&.carlos-1{
				padding-left: 11.2%;
				
				.wrap {
					height: 0;
					padding-bottom: 74.7%;
				}
			}

			&.moru-3{
				@include flexGrow(1.09);
				overflow: hidden;

				.wrap{
					height: 100%;
					// padding-bottom: 144.2%;
					
					img{
						position: absolute;
						width: auto;
						height: 100%;
						top: 50%; left: 50%;
						@include translate(-50%, -50%);
					}
				}
			}

			&.carlos-2{
				@include flexGrow(1);
				overflow: hidden;

				.wrap{
					height: 100%;
					// padding-bottom: 131%;
					
					img{
						position: absolute;
						width: auto;
						height: 100%;
						top: 50%; left: 50%;
						@include translate(-50%, -50%);
					}
				}
			}

			// Row

		}
	}

	@include mobile {
		[class*="btl-col"] + [class*="btl-col"]{
			margin-top: 16px;
			@include small-desktop {margin-top: 20px;}
		}
	}


	// Height special style
	.fill-height{
		.img-container{
			.wrap{
				@include tablet {
					height: 100%;

					img{
						position: relative;
						width: auto;
						height: 100%;
						top: 50%; left: 50%;
						@include translate(-50%, -50%);
					}
				}
			}
		}
	}

	.vert-wrap{
		@include flexIt;
		@include flexDirection-Vert;
	}

	.second-line{
		.img-container{
			@include tablet {
				height: 29.86vw;
				max-height: 268px;
			}

			@include laptop {max-height: 365px;}
			@include desktop {max-height: 429px;}
		}
	}

	.third-line{
		.img-container{
			@include tablet {
				height: 26.26vw;
				max-height: 236px;
			}

			@include laptop {max-height: 324px;}
			@include desktop {max-height: 380px;}
		}
	}
	
	
}